<mat-card class="signin-card">
  <h2>Sign-In</h2>
  <form (submit)="onLogin()" [formGroup]="form">
    <mat-form-field class="form-field">
      <input type="text" matInput placeholder="Email" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      class="submit-button"
    >
      Sign In
    </button>
  </form>

  <div class="anchorTag">
    <a class="router-link" routerLink="/signup"
      >Can't login , Try registering with us first!</a
    >

    <a class="router-link" routerLink="/forget-pass"> Reset password</a>
  </div>
</mat-card>
