<mat-toolbar color="pink">
  <span><a>Ecom App</a></span>
  <ul>
    <div *ngIf="!isVendor">
      <li *ngIf="isAuthenticated && cartItemCount > 0">
        <div class="">
          <mat-icon
            aria-hidden="false"
            fontIcon="add_shopping_cart"
            routerLink="/addto-cart"
          ></mat-icon>
          <span class="cart-count">{{ cartItemCount }}</span>
        </div>
      </li>

      <li *ngIf="isAuthenticated && cartItemCount == 0">
        <div class="">
          <mat-icon
            aria-hidden="false"
            fontIcon="remove_shopping_cart"
          ></mat-icon>
        </div>
      </li>
    </div>
    <div *ngIf="isVendor">
      <li *ngIf="isAuthenticated">
        <button mat-raised-button routerLink="/view-orders">View Orders</button>
      </li>
    </div>

    <li *ngIf="isAuthenticated">
      <button mat-raised-button routerLink="/update-pass">
        Update Password
      </button>
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-raised-button (click)="onlogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
<!-- remove_shopping_cart -->
