mat-card {
  width: 100%;
}

mat-form-field,
textarea {
  width: 100%;
}

.update-card {
  width: 500px;
  margin: auto;
  margin-top: 7rem;
  padding: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
}

.submit-button {
  width: 40%;
  margin-top: 15px;
}
